@page

<h1>Home</h1>
<p>
    The folloing is a link to the age calculator <br />
    Put your Birthday in the three fields Starting with<br />
    your Birth Month then your Birth Day and last your <br />
    Birth Year.  Have Fun!
    <ol>
        <li><a href="AgeCalculator">Age Calculator</a></li>
        <li><a href="About">About</a></li>
    </ol>
</p>

